* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Regular.ttf");
}

@font-face {
    font-family: GilroyBold;
    src: url("../fonts/Gilroy-Bold.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(18, 14, 106, 0.84);
    padding: 20px;
}

.header__title {
    color: #000000;
    font-size: 40px;
    font-family: GilroyBold, sans-serif;
    margin-bottom: 30px;
}

.bayan {
    padding: 40px;
    background-color: rgba(241, 177, 0, 0.84);
    border-radius: 60px;
}

.bayan:hover .title {
    color: #000000;
}

.bayan:hover .hide-open {
    font-size: 0;
    color: #830d0d;
    transition: all .5s ease-in;
}

.bayan:hover .plus-open {
    margin-left: auto;
    color: #000000;
    font-size: 30px;
    transition: all .5s ease-in;
}

.bayan:hover .bayan__input:checked + label .hide-open {
    font-size: 30px;
    transition: all .5s ease-in;
}

.bayan:hover .bayan__input:hover + label .plus-open,
.bayan:active .bayan__input:hover + label .plus-open{
    font-size: 0;
}

.bayan:hover .bayan__input:hover + label .hide-open,
.bayan:active .bayan__input:hover + label .hide-open{
    font-size: 30px;
}

.bayan__item {
    width: 1000px;
    border-top: 2px solid rgb(0, 0, 0);
    color: #ffffff;
}

.bayan__input {
    display: none;
}

.bayan__input:hover + label .bayan__image {
    max-width: 400px;
    padding: 10px;
    transition: all .5s ease-in;
}

.bayan__input + label .bayan__image {
    max-width: 0;
}

.bayan__input:checked + label .bayan__image {
    max-width: 400px;
    transition: all .5s ease-in;
    padding: 10px;
}

.bayan__input:checked + label .title {
    color: #830d0d;
}

.bayan__input:checked + label .plus-open {
    font-size: 0;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

label:hover {
    cursor: pointer;
}

.bayan__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.title {
    font-family: Gilroy, sans-serif;
    font-size: 30px;
}

.open {
    font-family: Gilroy, sans-serif;
}

.hide-open {
    font-size: 0;
}

.plus-open {
    font-size: 0;
}

.bayan__image-img {
    max-width: 400px;
    width: 100%;
    border-radius: 20px;
}

.bayan__item:active .title {
    color: #fffb00;
    cursor: wait;
}

label:active {
    color: #fffb00;
    cursor: wait;
}

.bayan__item:active .open {
    color: #fffb00;
}

.bayan__item:active input:checked+label .title {
    color: #fffb00;
}

label:active {
    cursor: wait;
}

.bayan__item:active .title {
    color: #fffb00;
    cursor: wait;
}

.bayan__item:active .open {
    color: #fffb00;
    font-size: 0;
}

.bayan__item:active .bayan__image {
    opacity: .4;
}